<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Lista de tarefas</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href='/css/main.css' rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <a href="/"><h1 id="titulo-pagina"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Lista de Tarefas</h1></a>
      <%= yield %>
    </div>
    <div class="footer">
    </div>
  </body>
</html>
