<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>TODO List</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
  <h1><a href="/">TODO List</a></h1>
  <div id="container">
  </div>
</body>
</html>
