body {
  background: url('/images/flowers.png');
  color: #fff;
  font-family: 'Open Sans';
}

#titulo-pagina {
  text-align: center;
  margin-top: 50px;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}

#campo-adicionar-tarefa {
  margin-top: 30px;
}

#textarea-editar-tarefa {
  width: 100%;
  color: #000;
  resize: vertical;
}

#botao-remover-tarefa {
  opacity: 0.2;
}

#botao-remover-tarefa:hover {
  opacity: 1.0;
  color: #ff0000;
}

.tarefas > ul {
  list-style: none;
}

.detalhes-tarefa {
  word-wrap: break-word;
  margin-bottom: 80px;
}

.tarefas {
  display: block;
  font-size: 1.5em;
  margin-top: 100px;
}

.formulario-editar-tarefa {
  margin-bottom: 20px;
}

.botao-transparente {
  background: transparent;
  border: none;
  outline: none;
  display: block;
}

.footer {
  margin-top: 50px;
}
