body {
  background: url('/images/flowers.png');
  color: #fff;
}

a, a:hover {
  text-decoration: none;
  color: #fff;
}

#campo-adicionar-tarefa {
  margin-top: 100px;
}

.tarefas > ul {
  list-style: none;
}

.tarefas {
  display: block;
  font-size: 1.5em;
  margin-top: 100px;
}
